.event-details {
  padding-top: 150px;
  background-color: rgb(255, 255, 255);

  padding-bottom: 70px;
}
.event-card {
  background-color: rgb(247, 247, 247);
}
.bg-white {
  background-color: white;
}
